{% extends 'base.html' %}



{% block container %}
    <div class="row">
        <h2>
            {{ subject.subject_name }}
        </h2>
        <p>
            {{ subject.subject_description }}
        </p>
    </div>
    <div class="row">
        {% for video in subject.video_set.all %}
            <div class="col-md-8 col-sm-12 portfolio-item">
                <img src="http://img.youtube.com/vi/{{ video.video_id }}/0.jpg" class="img-responsive">
                </a>
                <div class="portfolio-caption">
                    <a class="/video_detail/{{ video.pk }}"><h4>{{ video.video_name }}</h4>
                        <p class="text-muted">{{ video.subject_name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}